<div id="grade_show">
<h1><%= @school.name %></h1>
	<h2 class="cf">Class List</h2>

	<hr>
	<%= link_to new_school_grade_path(@school), class: "icon" do %>
		<i class="fa fa-plus-circle fa-lg"></i>
	<% end %>

	<div class="grade_list">
		<% @grades.each do |grade| %>
			<h4><%= link_to grade.name, school_grade_path(@school, grade) %></h4> <hr>
		<% end %>
	</div>

</div>