<div class="welcome">
	<nav class="navbar navbar-default" role="navigation"> 
		 <a class="navbar-brand" href="/" style="color: #B8C129">BMI for World</a>
	      <ul class="nav navbar-nav navbar-right" style="padding-right: 1rem;">      
         	<li><%= link_to "Sign Up", new_user_registration_path %></li>
         	<li><%= link_to "Sign In", new_user_session_path  %></li>   
      </ul>
	</nav>

	
	<div class="bmi_info container">
		<h2>What is BMI?</h2>
		<p>
			The body mass index (or BMI) is a measure which shows whether people have the right weight for their height. <br> The World Health Organisation (WHO), governments and health workers use it. It is also sometimes called the Quetelet Index.
		</p>
	</div>
</div>
	
<div class="why container-fluid">
	<h2>Let's Go record your BMI</h2>
	<p>
			Make you handle all the student's health!
	</p>
	<p>Be a health Men and Women</p>
			<br>
			<img src="assets/bmi.jpg" alt="bmi" class="img-circle" width="400" height="200">
			<br>
			<p><%= link_to "Click me to Sign Up", new_user_registration_path  %></p>
	</div>
