/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$border: #E9E9E9;
$inside: #f5f5dc;

* {
	box-sizing: border-box;
}



body {
	font-family: 'Raleway', sans-serif;
	background: #abbaab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}

#form {
	height: 100%;
	width: 40%;
	margin: auto auto 2em auto;
	#error_explanation {
		padding-top: 0;
		h2 {
			line-height: 3px;
			font-size: 18px;
		}
			ul {
				list-style: circle;
				color: red;
			}
	}
	.field {
		padding-bottom: 1em;
	}
	h1 {
		font-weight: 700;

	}
	h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 3em;
	}
	hr {
			width: 30em;
			display: block;
			height: 2px;
			border-top: 1px solid $white;
			margin: 1rem 0 0;	
			padding-bottom: 1rem;
			padding-top: 0.2rem;
		}
	label {
		font-size: 20px;
		font-weight: 200;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="password"] {
			font-size: 16px;
			width: 250px;
		  -webkit-transition: width .35s ease-in-out;
			height: 3em;
			border: 2px solid darken($border,10%);
			padding: 1em;
			margin: .5em 0 0 0;
			border-radius: 1em;
			background: $inside;
			&:focus { 
		    background-color: white;
		    outline: none;
	      border-color: #9ecaed;
	      box-shadow: 0 0 10px #9ecaed;
		  }
		}
	input[type="date"],
	input[type="gender"] {
		background: $inside;
		font-size: 16px;
		width: 150px;
	}
		select {
			font-size: 16px;
			width: 150px;
			background: $inside;
		}
		.button {
		border: 3px solid darken($border,10%);
		width: 10em;
		height: 3em;
		border-radius: 2em;
		background: $white;
		color: #db7093;
		font-weight: 700;
		outline: none;
			&:hover {
				outline: none;
				background: darken($white, 5%);
				color: #db7093;	
		  	-webkit-transition: background .25s ease-in-out;
		}
			&:active {
				outline: none;
			}
	}
		.back {
			background: $light;
			font-size: 16px;
			width: 100%;
			height: 3em;
			border: 3px solid darken($border,10%);
			border-radius: 2em;
			padding: 0 .5rem 0 .5rem;
			text-decoration: none;
			color: #db7093;
			outline: none;
	 	&:hover {
	 		background: darken($white, 15%);
	 		color: #db7093;	
	   	-webkit-transition: background .25s ease-in-out;
		}
		&:active {
		outline: none;
		}
	}
}

#form > .links {
	font-size: 16px;
} 