// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$border: #E9E9E9;
$inside: #f5f5dc;


.city {
	width: 300px;
	float: right;
	margin: 10px auto 0 3rem;

		ul {
			list-style: none;
			li {
				padding-bottom: .2rem;
			}
			a {
				color: brown;
				text-decoration: none;
				font-size: 16px;
				font-weight: 500;
				&:hover {
					color: $highlight;
				}
			}
		}
}
#table {
	float: left;
	width: 820px;
	margin-left: 3rem;
	margin-right: 3rem; 
	padding-left: 3rem;
	table {
		border: 2px solid $inside;
		font-size: 16px;
	}
		hr {
			width: 100%;
			display: block;
			height: 2px;
			border-top: 1px solid $white;
			margin: 1rem 0 0;	
			padding-bottom: 1rem;
			padding-top: 0.2rem;
		}
		a {
			font-weight: 700;
			text-decoration: none;
			&:hover {
				font-size: 15px;
				color: $highlight;
			}
		}
}


#show {
	width: 40%;
	margin: 0 auto 0 auto; 
		h2 {
			float: left;
		}
		hr {
			width: 100%;
			display: block;
			height: 2px;
			border-top: 1px solid $white;
			margin: 1rem 0 0;	
			padding-bottom: 1rem;
			padding-top: 0.2rem;
		}
		.icon {
			font-weight: 700;
			text-decoration: none;
			float: right;
			color: lighten($dark, 20%);
			&:hover {
				font-size: 15px;
				color: $inside;
			}
		}
		.grade_list {
			width: 100%;
		ul {
			list-style: none;
			padding-left: 0;
			li {
			padding-right: 1.2em;
			float: left;
			}
		}
		min-height: 50%;
		height: 100%;
		a {
			color: #777;
			text-decoration: none;
			font-weight: 700;
			&:hover {
				color: $light;
			}
		}
		h4 {
			text-align: left;	
			font-weight: 300;
			padding-bottom: .3rem;
		}
			hr {
				margin: 0;
				width: 5px;
				float: left;
				border-top: 1px solid green;
		}
}
}