// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$border: #E9E9E9;
$inside: #f5f5dc;


#stu_form {
	height: 100%;
	width: 40%;
	margin: auto auto 2em auto;
	#error_explanation {
		padding-top: 0;
		h2 {
			line-height: 3px;
			font-size: 18px;
			padding-top: 2em;

		}
			ul {
		    padding-top: 2em;
				list-style: circle;
				color: red;
			}
	}
	.field {
		padding-bottom: 1em;
	}
	h1 {
		font-weight: 700;
		padding-bottom: 0;

	}
	h2 {
		margin-top: -1em;
		margin-bottom: -1em;
		font-weight: 500;
		font-size: 26px;
		line-height: 3em;
	}
	hr {
			width: 30em;
			display: block;
			height: 2px;
			border-top: 1px solid $white;
			margin: 1rem 0 0;	
			
			padding-top: 0.2rem;
		}
	label {
		font-size: 20px;
		font-weight: 200;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="password"] {
			font-size: 16px;
			width: 250px;
			height: 2em;
			border: 2px solid darken($border,10%);
			padding: 1em;
			margin: .5em 0 0 0;
			border-radius: 1em;
			background: $inside;
			&:focus { 
		    background-color: white;
		    outline: none;
	      border-color: #9ecaed;
	      box-shadow: 0 0 10px #9ecaed;
		  }
		}
	input[type="number"] {
		background: $inside;
		font-size: 16px;
		width: 150px;
		border: 2px solid darken($border,10%);
		border-radius: 1em;
		padding: 0 .5rem 0 .5rem;
		&:focus {
			background: white;
			outline: none;
			border-color: #9ecaed;
	    box-shadow: 0 0 10px #9ecaed;
		}
	}
	
	input[type="date"],
	input[type="gender"]
	{
		background: $inside;
		font-size: 16px;
		width: 150px;
	}
		select {
			font-size: 16px;
			width: 150px;
			background: $inside;
		}
		.button {
		border: 3px solid darken($border,10%);
		width: 10em;
		height: 3em;
		border-radius: 2em;
		background: $white;
		color: #db7093;
		font-weight: 700;
		outline: none;
			&:hover {
				outline: none;
				background: darken($white, 5%);
				color: #db7093;	
		  	-webkit-transition: background .25s ease-in-out;
		}
			&:active {
				outline: none;
			}
	}
		.back {
			background: $light;
			font-size: 16px;
			width: 100%;
			height: 3em;
			border: 3px solid darken($border,10%);
			border-radius: 2em;
			padding: 0 .5rem 0 .5rem;
			text-decoration: none;
			color: #db7093;
			outline: none;
	 	&:hover {
	 		background: darken($white, 15%);
	 		color: #db7093;	
	   	-webkit-transition: background .25s ease-in-out;
		}
		&:active {
		outline: none;
		}
	}
}